<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staging.mapper.CaseSeriesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.staging.entity.CaseSeries">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="des" property="des" />
        <result column="schooltype" property="schooltype" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="userId" property="userId" />
    </resultMap>

</mapper>
