<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staging.mapper.CaseFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.staging.entity.CaseFile">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="img" property="img" />
        <result column="des" property="des" />
        <result column="downloadnum" property="downloadnum" />
        <result column="seriesid" property="seriesid" />
        <result column="fileadress" property="fileadress" />
        <result column="authorid" property="authorid" />
        <result column="viewnum" property="viewnum" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="about" property="about" />
        <result column="case_audit" property="caseAudit" />
        <result column="case_unreason" property="caseUnreason" />
        <result column="audit_date" property="auditDate" />
        <result column="area_id" property="areaId" />
        <result column="city_id" property="cityId" />
        <result column="province_id" property="provinceId" />
        <result column="caseFileIntegral" property="caseFileIntegral" />
        <result column="stl" property="stl" />
    </resultMap>

</mapper>
