<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staging.mapper.MessCommunityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.staging.entity.MessCommunity">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="creatDate" property="creatDate" />
        <result column="userId" property="userId" />
        <result column="messageId" property="messageId" />
        <result column="title" property="title" />
        <result column="loadId" property="loadId" />
        <result column="comment" property="comment" />
        <result column="ctauthor" property="ctauthor" />
        <result column="cdauthor" property="cdauthor" />
        <result column="area_id" property="areaId" />
        <result column="city_id" property="cityId" />
    </resultMap>

</mapper>
