<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staging.mapper.ProvinceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.staging.entity.Province">
        <id column="id" property="id" />
        <result column="province_name" property="provinceName" />
        <result column="province_banner" property="provinceBanner" />
        <result column="province_logo" property="provinceLogo" />
    </resultMap>

    <select id="selectById" resultType="com.staging.entity.Province">
        select province_name from t_province where id = #{id}
    </select>


    <select id="selectByProvinceName" resultType="com.staging.entity.Province">
        select id from t_province where province_name = #{provinceName}
    </select>

</mapper>
