<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staging.mapper.WorksDownloadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.staging.entity.WorksDownload">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="worksId" property="worksId" />
        <result column="worksImg" property="worksImg" />
        <result column="worksName" property="worksName" />
        <result column="worksIntegral" property="worksIntegral" />
        <result column="creatDate" property="creatDate" />
        <result column="status" property="status" />
        <result column="worksTitle" property="worksTitle" />
        <result column="worksAddress" property="worksAddress" />
        <result column="roleId" property="roleId" />
        <result column="worksUserId" property="worksUserId" />
    </resultMap>

</mapper>
