$.ajax({
url: "/schoolType/save",
data: JSON.stringify(data.field),
type: "POST",
dataType:"json",
contentType : "application/json;charset=utf-8",
success: function (response) {
if(response.code == 0){
layer.closeAll();
layer.msg(response.message,{icon:6});
$('#reset').click();
return table.reload("idTest");
}
layer.msg(response.message,{icon:5});
},error:function (response) {
layer.msg("接口请求异常",{icon:5})
}
});